@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-full-bg {
  background: var(--ant-color-bg-base) !important;
}

[data-theme="dark"] .ant-full-bg {
  background: var(--ant-color-bg-base) !important;
}
